# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/main/Unity.gitignore
#
.utmp/
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
*.log

# Unity3D generated meta files
*.pidb.meta
*.pdb.meta
*.mdb.meta
sysinfo.txt
mono_crash.*
*.apk
*.aab
*.unitypackage
*.unitypackage.meta
*.app
crashlytics-build.properties
.DS_Store
.vsconfig
/Test
/Builds
/Build
/Tests
/tests
/test
/build
/builds
/Temporary
/temporary
/temp
/Temp
/TEMP
/Android
/iOS
/Windows
/WebGL
/Linux
/bk
/BK
/backup
/Backup
/BackUp
/DevAssets/LanuageTranslation/venv
/DevAssets/LanuageTranslation/models
/DevAssets/FBX Models
/DevAssets/FBXRestorerTool/FBX Models
*.ods#
/CPI Project/.vscode
/DevAssets/LanuageTranslation/__pycache__
DevAssets/LanuageTranslation/translation_cache_nllb.json
DevAssets/LanuageTranslation/translation_progress.json
*.glb
/CPI Project/Assets/Fabric/Editor/ProjectData
